/* ABOUT ME */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/*navigation partq*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 194, 126);
    padding: 1rem;
}

body {
    background-image: url('/assets/img/GENERAL/BACKGROUND.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 5px;
    background-color: transparent;
    text-decoration: none;
& p {
        color: rgb(143, 94, 20);
    }
}

.btn:hover p,
.btn:hover span
.btn:hover {
    color: rgb(54, 35, 7);
}

/*Frist section AAAAAUSIN AAAAA*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 1000px;
    margin:auto
}

.intro-section {
    text-align: center;
    margin: 2rem 0;
}

.intro-section h1 {
    display: flex;
    font-size: 50px;
    text-align: right;
    margin-top: 8rem;
    color: rgb(224, 206, 159);
}

.intro-section p{
    font-size: 18px;
    text-align: right;
    color: rgb(221, 194, 126);
}
.image-container img{
    width: 20rem;
    object-fit: cover;
    margin-top: 2rem;
}

.image-container {
    display: flex;
    align-items: center;
}

.text-container {
    text-align: right;
    margin: 1rem;
}

/*second part*/

hr {
    clear: both;
    border: none;
    height: 1px;
    background-color: rgb(221, 194, 126);
    width: 60%; /* Set width as desired */
    margin: 2rem auto;
}
.my-education,
.my-interests,
.my-skills,
.my-software {
    background-color: rgba(245, 226, 190, 0.2);
    padding: 15px;
    border-radius: 5px;
}

.school-title,
.interest-title,
.skill-title,
.software-title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(224, 206, 159);
    margin-bottom: 1rem;
}

.education-details {
    display: flex;
    flex-direction: column;
}

.education-name {
    margin-bottom: 10px;
}


.my-education p,
.my-interests p,
.my-skills li,
.my-software p {
    color: rgb(221, 194, 126);
}

.my-education h3 {
    color: rgb(194, 156, 94);
}

.my-education p {
    margin-left: 3rem;
}

.my-skills li {
    margin-left: 3rem;
}

.interest-details,
.software-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interest-name,
.software-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.interest-name img,
.software-name img {
    width: 100px;
    margin: 1rem;
    margin-top: -1rem;
    margin-bottom: 5px;
}


.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.logo {
    width: 5rem;
    margin: 2rem;
}