/* HOME*/
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./img/BACKGROUND.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 194, 126);
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 5px;
    background-color: transparent;
    text-decoration: none;
    & p {
        color: rgb(143, 94, 20);
    }
}

.btn:hover p,
.btn:hover span
.btn:hover {
    color: rgb(54, 35, 7);
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 1rem;
    margin-top: -5rem;
}

.image-container img{
    width: 30rem;
    object-fit: cover;
}

.image-container {
    display: flex;
    align-items: center;
}

.text-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
}

.text-container h1{
    font-size: 10rem;
    text-decoration: wavy;
    margin: 0.5 rem 0;
    color:rgb(221, 194, 126);
    gap:3rem;
}

.text-container h2{
    font-size: 5rem;
    margin: 0.5 rem 0;
    color:rgb(221, 194, 126);
}

.text-container h3{
    font-size: 1rem;
    margin: 0.5 rem 0;
    color:rgb(221, 194, 126);
}

.introduction {
    text-align: center;
    font-size: 25px;
    color: rgb(221, 194, 126);
    width: 85%;
    margin: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.logo {
    width: 5rem;

    margin: 2rem;
}